/*
	Helvetica Neue

	Demo css to show basic, more technical styling

	Visit http://www.ulyssesapp.com/styles for full reference
arkkiv * 
 * 11102.1
 * 11113.1
*/
/* color:#cc7a00; */

body {font-size: 11pt;color:#222;background:#fbfbfb;font-family:"courier", Arial, Helvetica, sans-serif;line-height: 1.4;margin: 10%; margin-bottom: 15%;}

h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}

h1 {font-size:3em;line-height:1;margin-bottom:0.5em;margin-top:2em;}

h2 {font-size:2em;margin-bottom:0.75em;margin-top:1.5em;}

h3 {font-size:1.5em;line-height:1;margin-top:1.5em;}

h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}

h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}

/* h6 {font-size:1em;font-weight:bold;}*/

h6 {text-align:left; overflow-x: scroll; color: #d3bd7e; background: #202020; padding: 10pt 15pt; border-radius: 3px;font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;white-space:pre;margin-bottom:0.5em;margin-top:2em;left:10%;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}

.zent p{
    align:center;
}

.timeline {
    margin:5%;
}

img {
max-width: 80%;
align:center;
}
.imagebl {
    width:80%;
    align:left;
}
.imagesm img{
    max-width: 65%;
    align:center;
}

.imagebl figure {
    max-width: 30%;
    display: inline-block;
}
p {margin:0 0 1.5em;}
a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:none;cursor: pointer;}
blockquote {margin:1.5em;color:#666;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}


@font-face{
    font-family:'Junicode';
    src:url(fonts/Junicode.ttf);
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Junicode bold';
    src:url(fonts/Junicode-Bold.ttf);
    font-weight:bold;
    font-style:normal;
   
}
@font-face {
font-family:'Junicode italic';
    src:url(fonts/Junicode-Italic.ttf);
    font-weight:normal;
    font-style:normal;
    }


.olde {
    font-family:"junicode", "junicode italic", "junicode bold";
    font-size:14pt;
    line-height: 1.4;
    margin: 10%;
}

.olde h1 {
font-size: 2em;

}

/*start navi*/

.bottoml {
position: fixed;
bottom: 0;
text-align: left;
background-color: white;
width:100%;
font-family: Menlo, monospace; 

font-size:90%;
padding: 5px 5px;
left: 0px;
}

.topl {
    
position: fixed;
top: 0;
width: 100%;
left:0px;
text-align: center;
color: #d3bd7e; 
background: #202020; 
font-family: Menlo, monospace;
font-size:90%;
}
.hblock a{
font-family: Menlo, monospace; 
cursor: pointer;

    float: left;
    display: block;
    text-align: left;
}


.hblockdown a{
cursor: pointer;
  text-decoration: none;
    text-align: left;
}


.hblockline a{
cursor: pointer;
  text-decoration: none;
    text-align: left;
}

.bottoml block {
  float: left;
  display: block;
  text-align: left;
  text-decoration: none;

  font-size: 0.8em;
  width: auto;
  padding: 5px 5px;
}
#realwait{
    bottom: 15px;
}

btncn {
font-family: Menlo, monospace; 
font-size:90%;
padding:0.2em 0.4em; 
cursor: pointer;
text-align:left; overflow-x: scroll; color: #d3bd7e; background: #202020; padding: 10pt 15pt; border-radius: 3px;
}



btnsm, #blockmenu a {
font-family: Menlo, monospace; 
font-size:90%;
padding:0.3em 0.3em; 
cursor: pointer;
text-decoration: none;
text-align:left; overflow-x: scroll; color: #d3bd7e; background: #202020;  
border-radius: 3px;
}
.linkred {
    color:red;
}
.dropput {
   overflow:hidden;
   color:red;
  background-color: white;
  text-align:right;
   position: fixed;
     font-family: Menlo, monospace; 
  font-size: 0.9em;
right:3%;
   top:5px;
 cursor:pointer;
}
.keys {
display:none;
}
.counter {
    width:95%; 
    height:450px; 
    border:none;
    display:none;
}
.dropput a:hover {
    color:blue;
}
.dropmenu {
position: fixed;
top: 0;
text-align: left;
background-color: white;
width:100%;

padding: 5px 5px;
left: 0px;
}

.dropmenu-back {
width:auto;
}

.dropmenu-content {
  display: none;
  position: fixed;
  top:0px;
  left:0px;
  font-family: Menlo, monospace; 
background-color: white;

  min-width: 160px;
  overflow: auto;
  width:100%;
  height:auto;
}

.dropmenu-content a {
 float: left;
  display: block;
  color: black;
  text-align: left;
  text-decoration: none;

  font-size: 0.8em;
  width: auto;
  padding: 5px 5px;
  cursor: pointer;
}
.dropmenu-content a:hover {
color: blue;
}


@media screen and (max-width: 600px) {

  
div.dsktp {
    display:none;
}
}
@media screen and (min-width: 600px){
    div.phone {
        display: none;
    }
}



.header {
 
  margin-top:20%;
}


.show {display: block;}

/* end navi*/



#black {
  color: black;
  text-decoration: none;
}
s, strike, del {text-decoration:line-through;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {color:#d3bd7e;font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}

li ul, li ol {margin:0;}
ul, ol {margin:0 3em 1.5em 1.5em;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}

figure {margin: 1.5em 0; width: 100%; text-align: center; }
figcaption {font-size: 0.75em;padding:0.5em 2em;margin-bottom: 2em;}
figure img {margin-bottom: 0px;}

code {font-family: Menlo, monospace; color: #d3bd7e; font-size:90%;}
p > code {padding:0.2em 0.4em; background:#e1e9ed;}

h1 > code {padding:0.2em 0.4em; background:#000;}
h2 > code {padding:0.2em 0.4em; background:#000;}
h3 > code {padding:0.2em 0.4em; background:#000;}
h4 > code {padding:0.2em 0.4em; color: #d3bd7e; background:#000;}
h5 > code {padding:0.2em 0.4em; background:#000;}
pre {text-align:left; overflow-x: scroll; color: #d3bd7e; background: #202020; padding: 10pt 15pt; border-radius: 3px;}
/*  h7 {text-align:left; overflow-x: scroll; color: #d3bd7e; background: #202020; padding: 10pt 15pt; border-radius: 3px;font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;white-space:pre;}*/
hr {border: 0px; border-top: 1px solid #ddd; border-bottom: 1px solid #fff;margin-top: 4em;margin-bottom: 2em;}

h1 + hr {margin-top: 2em;}

ol#footnotes {font-size: 0.75em;padding-top: 1.5em;margin-top: 3em;margin-left: 0;}
ol#footnotes:before {content: "———"; letter-spacing: -4px;margin-left: -1.5em;}

ol p, ul p {margin-bottom: 1.3em;}/* 0px */
li {margin-bottom: 1.3em;margin-top: 0.75em;}/* bt: 0.75em */


inline {
  font-family: "Courier"/*, monospace*/; 
  /*font-size:90%;*/
  /*padding:0.2em 0.4em;*/ 
  /*cursor: pointer;*/
  /*text-align:left; overflow-x: scroll;*/ 
  color: #d3bd7e; background: #202020; padding: 2pt 2pt; border-radius: 3px;
  }
red {
  color: red;
}
@keyframes highfade {
    0% {
		background-color: none;
    }
    20% {
		background-color: yellow;
	}
    100% {
		background-color: none;
    }
}

@-webkit-keyframes highfade {
    0% {
		background-color: none;
    }
    20% {
		background-color: yellow;
	}
    100% {
		background-color: none;
    }
}

a:target, ol#footnotes li:target, sup a:target  {
    animation-name: highfade;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: highfade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

a:target {border:0;outline: 0;}

@media screen and (max-width: 768px) {
	body {
		margin:30px;
	}

}

@media screen and (max-width: 736px) {
	body {
		margin:20px;
	}	
	ul,ol {
		margin: 0;
	}
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.8em;
	}
}

